/* @font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./titillium_web.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

:root {
  /* rgb(245, 245, 245); */
  /* #e5edfb; */
  /* #1e2526; */

  --primary__background__color: rgb(250, 251, 252);
  --secondary__background__color: rgb(52, 62, 64);
  --accent__color: rgb(138, 43, 226);

  --primary__text__color: rgb(67, 72, 77);
  --secondary__text__color: rgb(106, 106, 111);
}

::selection {
  /* background-color: #222; */
  background-color: var(--accent__color);
  color: white;
}

* {
  /* font-family: "Open Sans", sans-serif; */
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: black;
  z-index: 1;

  line-height: 2em;
  /* color: white; */
  /* border: 1px dashed cornflowerblue; */
}

html {
  height: fit-content;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: var(--primary__background__color); /* #1e2526; */

  font-size: 100%;

  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;

  margin: 1em 0 0 0;
  padding: 0;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-items: center;

  overflow-x: hidden;

  background-color: var(--primary__background__color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

hr {
  width: 4em;
  margin: 0 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

/* ---GENERAL--- */

.link {
  color: white;
  text-decoration: underline;
}

.link_inverse {
  font-size: 11pt;
  color: var(--secondary__text__color);
  opacity: 0.8;
  text-decoration: underline;
}

.link:hover,
.link_inverse:hover {
  color: var(--accent__color);
}

.section__title {
  margin-bottom: 1em;

  width: 100%;
  /* text-align: center; */

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
}

.section__title:hover hr {
  border: 1px solid var(--accent__color);
}

.section__title_left {
  margin-bottom: 1em;

  width: 100%;
  /* text-align: left; */

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
}

.section__title_left:hover hr {
  border: 1px solid var(--accent__color);
}

.container {
  height: 100%;
  width: 100%;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
}

.fit {
  height: 100%;
  width: 100%;
}

/* ---BANNER--- */

.banner {
  height: 100%;
  width: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;
}

.banner__logo__container {
  height: 100%;
  width: 100%;

  padding: 0 2em;

  display: inline-flex;
  flex-flow: row nowrap;

  /* align-items: center; */
  /* justify-content: center; */
}

.banner__logo {
  height: 3em;
  width: 11em;

  object-fit: contain;
  /* object-position: left; */

  -webkit-user-drag: none;
}

.banner__title {
  padding: 0 0.6em;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  font-size: 16pt;
  font-weight: bold;
}

.banner__list {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: flex-end;
}

.banner__link {
  text-decoration: none;
}

.banner__link:hover {
  color: var(--secondary__background__color);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--accent__color);
}

.banner__item {
  font-size: 12pt;
  font-weight: bold;
  padding: 0 1.6em;
  /* margin: 0 1em; */
}

/* ---HEADER--- */

.header__container {
  width: 80%;
  padding: 1em;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
}

/* ---HERO--- */

.hero__container {
  height: 18em;
  width: 100%;
  /* width: 100%; */

  margin-top: 1em;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;

  background-color: var(--secondary__background__color);
  border: 0.4em solid var(--accent__color);
}

.hero__title {
  width: 24em;
  text-align: center;
  font-size: x-large;
  color: white;
}

/* .hero__image__container {
  height: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
} */

.hero__screenshot {
  height: fit-content;
  width: fit-content;

  object-fit: none;
  box-shadow: 0 0 10px 0px var(--secondary__background__color);
}

/* ---SCREENSHOTS--- */

.screenshots__container {
  /* width: 60em; */
  width: 46em;

  margin-top: 2em;

  display: inline-flex;
  flex-flow: column nowrap;

  justify-items: center;
  align-items: center;
}

.screenshots {
  margin: -2em 0 2em 0;

  display: inline-flex;
  flex-flow: row nowrap;

  justify-items: center;
  align-items: center;
}

.screenshot {
  width: 220px;
  height: 120px;

  margin: 0 4em;

  box-shadow: 0px 8px 20px 0px var(--secondary__background__color);
}

figcaption {
  text-align: center;
  /* font-style: italic; */
  font-size: 11pt;
  color: var(--secondary__text__color);
  opacity: 0.8;
}

/* ---FEATURES--- */

.features__container {
  /* width: 60em; */
  width: 46em;

  margin-top: 2em;

  display: inline-flex;
  flex-flow: column nowrap;

  justify-items: center;
  align-items: center;
}

.features {
  margin: 2em 0;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  row-gap: 4em;
  column-gap: 4em;
}

.feature {
  /* width: 30em; */
  /* margin: 0.6em 1em; */
}

.feature__title {
  padding-bottom: 0.4em;

  color: var(--primary__text__color);

  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.feature__content {
  font-size: 11pt;

  color: var(--secondary__text__color);
  opacity: 0.8;
}

/* ---ROADMAP--- */

.roadmap {
  width: 46em;

  margin-top: 2em;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.futures {
  width: 100%;

  margin: 2em 0;
  /* margin-top: 1em; */
  /* margin-left: 8em; */

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: flex-end;
  justify-content: center;

  list-style: circle;
}

.future {
  /* background-color: red; */

  width: 18em;
  margin: 0 0 0 0;

  font-size: 11pt;

  color: var(--secondary__text__color);
  opacity: 0.8;
}

/* ---DOWNLOADS--- */

.download__links {
  margin: 2em 0 2em 0;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.download {
  height: 2.2em;
  width: 12em;

  margin: 0 2em;

  border: 1px solid white;
  cursor: pointer;
}

.download:hover {
  border: 1px solid var(--accent__color);
}

.download:hover .download__button .container:first-child {
  border-right: 1px solid var(--accent__color);
}

.download:hover .fa {
  /* color: var(--accent__color); */
}

.download:hover .download__text {
  /* color: var(--accent__color); */
}

.download__button {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  text-decoration-line: none;
}

.download__button .container:first-child {
  flex-basis: 24%;
  border-right: 1px solid white;
}

/* .download__button .container:first-child:hover {
  border-right: 1px solid var(--accent__color);
} */

.download__button .container:last-child {
  flex-basis: 76%;
}

.download__image {
  margin: 0;
  padding: 0;

  font-size: large;
  color: white;
  fill: white;
}

.download__text {
  height: 100%;
  width: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  font-size: 11pt;
  color: white;
  fill: white;
}

.download__info {
  margin: 0 0 0 0.4em;
  /* padding: 0 0 0.2em 0; */

  color: white;
  fill: white;
}

.version__container {
  color: white;
  fill: white;
}

.version {
  font-size: smaller;
  color: white;
  fill: white;
}

/* ---SUPPORT--- */

.support {
  width: 46em;

  margin-top: 2em;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: flex-start;
  justify-content: center;
}

.support__description {
  margin: 2em 2em 0 2em;

  font-size: 11pt;
  color: var(--secondary__text__color);
  opacity: 0.8;
}

.support__links {
  margin: 1em 2em 0 2em;

  font-size: 11pt;
  color: var(--secondary__text__color);
  opacity: 0.8;
}

/* ---FOOTER--- */

.footer__container {
  height: 100%;
  width: 100%;
  /* padding: 1em; */

  margin-top: 3em;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;

  background-color: var(--secondary__background__color);
  border-top: 0.4em solid var(--accent__color);
}

.copyright {
  margin: 1em 0 0 1em;
}

.copyright span {
  color: white;
}

.privacy-policy {
  margin: 0.4em 0 1em 0;
}

.privacy-policy span {
  color: white;
  font-size: x-small;
}
